@import buildinfo.BuildInfo
@import shared.models.ParkingStatus
@(status: ParkingStatus)(implicit r: Request[_])

@main("Parkomat") {
<section class="hero is-fullheight">
    <div class="hero-head">
        <div class="container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h1 class="title">
                        Parkomat
                    </h1>
                    <p class="subtitle">
                    </p>
                </div>
                <div class="column">
                    <div class="control is-pulled-right">
                        <a href="https://github.com/razem-io/parkomat" target="_blank">
                            <div class="tags has-addons">
                                <span class="tag is-dark">version</span>
                                <span class="tag is-info">@BuildInfo.version</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="has-text-centered" id="status">@status.statusText</div>

            <div class="columns">
                <div class="column">
                    <div class="has-text-centered" id="status_detail">@status.statusDetailText</div>
                </div>
            </div>

            <div class="has-text-centered" id="statustime">@status.statusUpdateText</div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="has-text-centered is-size-5-mobile" id="footer">
            <p id="footertext">
                <strong>Parkomat</strong> is Open Source. It is licensed under
                <a href="https://github.com/razem-io/parkomat/blob/master/LICENSE">GPL v3</a>.<br>
                Source code can be found on <a href="https://github.com/razem-io/parkomat/">Github</a>.
            </p>
        </div>
    </div>
</section>
}
