@(title: String)(content: Html)(implicit r: Request[_])


<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("lib/bulma/css/bulma.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

  <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("apple-touch-icon.png")">
  <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("favicon-32x32.png")">
  <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("favicon-16x16.png")">
  <link rel="manifest" href="@routes.Assets.versioned("site.webmanifest")">
  <link rel="mask-icon" href="@routes.Assets.versioned("safari-pinned-tab.svg")" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body data-ws-url="@routes.Application.ws.webSocketURL()">

    @content
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
</body>
</html>
